header {
	display: block;
	margin-bottom: 1px;
}

nav {
	display: block;
	width: 20%;
	float: left;
}


nav ul {
	color: #FFEE44;
	line-height: 230%;
	margin-top: 40px;
	list-style-type: square;
	font-family: "Karla", Verdana, Ubuntu;
}

section {
	display: block;
	width: 70%;
	float: right;
}

body {
	background-color: #2277DD;
	color: #FFEE44;
	font-size: 16px;
	font-family: "Stoke", "Lucida Bright", Liberation;
}

a {
	text-decoration: none;
}

A:link {
	color: #FFEE55;
}

A:visited {
	color: #FFEE33;
}

ol, ul {
	line-height: 200%;
}

.ender {
	float: right;
	text-align: right;
	line-height: 140%;
	font-size: 14px;
	font-family: "Karla", Verdana, Ubuntu;
}

.imgLogo {
	border-bottom: 3px solid #FFFFFF;
	margin-bottom: 6px;
	padding-bottom: 10px;
}

.apres {
	text-align: center;
	font-size: 16px;
}
	
.titulo {
	text-align: center;
}

.listaMat {
	width: 340px;
	color: #202020;
	background-color: #EEEEBB;
	padding: 10px 10px 10px 30px;
	border: 3px solid #202020;
	margin: 0 auto 10px auto;
	list-style-type: square;
}

.listaMat ol {
	color: #202020;
	list-style-type: lower-alpha;
}

.listaMat a:link {
	text-decoration: none;
	color: #303030
}

.listaMat a:visited {
	text-decoration: none;
	color: #303030
}

.preco {
	color: #CC0000;
}

.tabAcab {
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
	margin-top: 6px;
	font-size: 15px;
	background-color:  #FFFFCC;
	color: #000000;
	font-family: "Karla", Verdana, Ubuntu;
}

.tabAcab th {
	border: 2px;
	border-style: solid;
	border-color: #000000;
	padding: 6px 12px 6px 12px;
}

.tabAcab td {
	border: 2px;
	border-style: solid;
	border-color: #000000;
	padding: 6px 12px 6px 12px;
}

.tabAcab .linTH {
	color: #EEEE00;
	background-color: #666666;
	vertical-align: middle;
	text-align: center;
}

.tabAcab .colTH {
	color: #000000;
	background-color: #AAAAAA;
	text-align: left;
}

.tabAcab .imgAcab {
	width: 60px;
	height: 44px;
}

.tabAcab a:link {
	color: #303030;
	text-decoration: none;
}

.tabAcab a:visited {
	color: #303030;
	text-decoration: none;
}


.divCompras {
	width: 550px;
	color: #000000;
	background-color: #FFFFCC;
	padding: 6px 6px 15px 6px;
	font-size: 12px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
}

.listaCompras {
	width: 210px;
	height: 180px;
	float: right;
	margin-top: 2px;
	margin-left: 10px;
}

.colLabSelProd {
	width: 230px;
	height: 40px;
	float: left;
}

.colSelProd {
	width: 160px;
	float: right;
}

.linhaProdSel {
	width: 220px;
	margin-bottom: 6px;
	float: left;
}

.elemEsq {
	display: block;
	float: left;
}

.elemDir {
	display: block;
	float: right;
}
	
.botoes {
	text-align: right;
	margin: 20px 10px 0px 10px;
}

.fsEsq {
	float: left;
	display: inline;
	margin: 0px;
}

.fsDir {
	float: right;
	display: inline;
	margin: 0px;
}

.inpGrande {
	width: 380px;
}

.impMedio {
	width: 80px;
}

.impNCC {
	width: 130px;
}

.impTelef {
	width: 90px;
}

.impEnder {
	width: 180px;
	height: 50px;
}

.numDD {
	width: 30px;
}

.numQD {
	width: 50px;
}

.divLinha {
	width: 500px;
	margin-bottom: 6px;
}

.colLabCrd {
	float: left;
	width: 260px;
	height: 40px;
}

.colPri {
	float: left;
	display: block;
	width: 90px;
}

.colPriCompras {
	float: left;
	display: block;
	width: 86px;
}

.colPriPag {
	float: left;
	display: block;
	width: 250px;
}

.menuTab {
	height: 40px;
}